body {
    background-color: #f7f7f7;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

.btn-black {
    background-color: #000;
    color: #080808;
    border: none;
}

.btn-black:hover {
    background-color: #333;
}